/* 公共样式 */
/* 版心居中 */
.wrapper {
    margin: 0 auto;
    width: 1240px;
}

/* 快捷导航 */
.shortcut {
    height: 52px;
    background-color: #333;
}

.shortcut .wrapper {
    display: flex;
    justify-content: flex-end;
    height: 52px;
    /* background-color: #aaa; */
}

.shortcut ul {
    display: flex;
    line-height: 52px;
}

.shortcut li a {
    padding: 0 15px;
    border-right: 1px solid #999;
    color: #fff;
    font-size: 14px;
    transition: all 0.2s;
}

.shortcut li:last-child a {
    border-right: 0;
}

.shortcut li span {
    margin-right: 4px;
    vertical-align: middle;
}

.shortcut li .login {
    color: #5EB69C;
}

.shortcut li a:hover {
    color: #5EB69C;
}

/* 头部区域 */
/* logo */
.header {
    display: flex;
    margin-top: 22px;
    margin-bottom: 22px;
    height: 88px;
    /* background-color: #399; */
}

.header .logo {
    margin-right: 40px;
    width: 200px;
    height: 88px;
    background-color: #339;
}

.header .logo a {
    display: block;
    width: 200px;
    height: 88px;
    background-image: url(../images/logo.png);
    font-size: 0;
}

/* 导航区域 */
.header .nav {
    margin-top: 33px;
    margin-right: 28px;
}

.header .nav ul {
    display: flex;
}

.header .nav li {
    margin-right: 47px;
}

.header .nav a {
    display: block;
    padding-bottom: 10px;
}

.header .nav a:hover {
    border-bottom: 2px solid #5EB69C;
    color: #5EB69C;
}

/* 搜索区域 */
.header .search {
    display: flex;
    margin-top: 32px;
    margin-right: 45px;
    width: 170px;
    height: 32px;
    border-bottom: 2px solid #F4F4F4;
}

.header .search .iconfont {
    margin-right: 8px;
    font-size: 18px;
    color: #CCC;
}

.header .search input {
    flex: 1;
    width: 0;
}

.header .search input::placeholder {
    font-size: 16px;
    color: #CCC;
}

.header .cart {
    position: relative;
    margin-top: 32px;
    cursor: pointer;
}

.header .cart .iconfont {
    font-size: 24px;
}

.header .cart i {
    position: absolute;
    top: 1px;
    left: 15px;
    padding-left: 5.5px;
    padding-right: 5.5px;
    height: 15px;
    line-height: 15px;
    background-color: #E26237;
    border-radius: 7.5px;
    font-size: 14px;
    color: #FFFEFE;
}

/* 底部区域 */
.footer {
    height: 581.5px;
    background-color: #F5F5F5;
}

.footer .service {
    padding: 60px 0;
    height: 178px;
    border-bottom: 1px solid #E8E8E8;
}

.footer .service ul {
    display: flex;
    justify-content: space-evenly;
}

.footer .service li {
    display: flex;
    width: 190px;
    height: 58px;
    cursor: pointer;
    /* background-color: #fdb0b0; */
}

.footer .service li h5 {
    margin-right: 20px;
    width: 58px;
    height: 58px;
    background: url(../images/sprite.png);
}

.footer .service li:nth-child(2) h5 {
    background-position: 0 -58px;
}

.footer .service li:nth-child(3) h5 {
    background-position: 0 -116px;
}

.footer .service li:nth-child(4) h5 {
    background-position: 0 -174px;
}

.footer .service li p {
    line-height: 58px;
    font-size: 28px;
}

.footer .help {
    height: 302.5px;
    /* background-color: #a1a1a1; */
}

.footer .help {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.footer .help .left {
    display: flex;
}

.footer .help .left dl {
    margin-right: 84px;
}

.footer .help .left dl:last-child {
    margin-right: 0;
}

.footer .help .left dt {
    margin-bottom: 30px;
    font-size: 18px;
}

.footer .help .left dd {
    margin-bottom: 10.5px;
}

.footer .help .left dd a {
    color: #969696;
}

.footer .help .left .iconfont {
    color: #5EB69C;
}

.footer .help .right ul {
    display: flex;
}

.footer .help .right ul li:first-child {
    margin-right: 55px;
}

.footer .help .right ul .pic {
    margin-bottom: 10px;
}

.footer .help .right ul p {
    color: #969696;
    text-align: center;
}

.copyright p {
    margin-bottom: 10px;
    text-align: center;
    color: #A1A1A1;
}

.copyright p a {
    margin: 0 10px;
    color: #A1A1A1;
}