/* 首页CSS样式 */
/* 快捷导航 */
.shortcut {
    height: 52px;
    background-color: #333;
}

.shortcut .wrapper {
    display: flex;
    justify-content: flex-end;
    height: 52px;
    /* background-color: #aaa; */
}

.shortcut ul {
    display: flex;
    line-height: 52px;
}

.shortcut li a {
    padding: 0 15px;
    border-right: 1px solid #999;
    color: #fff;
    font-size: 14px;
    transition: all 0.3s;
}

.shortcut li:last-child a {
    border-right: 0;
}

.shortcut li span {
    margin-right: 4px;
    vertical-align: middle;
}

.shortcut li .login {
    color: #5EB69C;
}

.shortcut li a:hover {
    color: #5EB69C;
}